---
import c1 from '../assets/c1.png';
import c2 from '../assets/c2.png';
import c3 from '../assets/c3.png';
import c4 from '../assets/c4.png';
import c5 from '../assets/c5.png';
import c6 from '../assets/c6.png';
---

<div class="w-full flex flex-col gap-5 justify-center items-center px-10 pb-10">
    <p class="text-[#697586] text-lg">Trusted by 5000+ marketing professionals</p>

    <div class="flex gap-20 md:flex-row flex-col">
        <img src={c1.src} alt="c1" class="p-4 object-contain" />
        <img src={c2.src} alt="c2" class="p-4 object-contain" />
        <img src={c3.src} alt="c3" class="p-4 object-contain" />
        <img src={c4.src} alt="c4" class="p-4 object-contain" />
        <img src={c5.src} alt="c5" class="p-4 object-contain" />
        <img src={c6.src} alt="c6" class="p-4 object-contain" />
    </div>
</div>